* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navigation bar styles */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff91a9;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
}

#navbar a:hover, #darkModeToggle:hover {
    color: #333;
}

#darkModeToggle {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#darkModeToggle:hover {
    background-color: #fff;
    color: #ff91a9;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode #navbar, body.dark-mode #header {
    background-color: #444;
}

body.dark-mode p {
    color: #ccc;
}

body.dark-mode .info-block i,
body.dark-mode .info-block a {
    color: #ccc;
}

body.dark-mode .footer-icons a {
    color: #ccc;
}

body.dark-mode .footer-icons a:hover {
    color: #ddd;
}

/* Home page styles */
.page {
    display: none;
}

#home {
    display: flex;
    height: 100vh;
}

.category {
    flex: 1;
    width: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.category:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    color: #fff;
    font-size: 2rem;
}

/* Artworks page styles */
.projects-grid, .classes-grid {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Default to 2 columns (400px min width) */
    grid-gap: 1rem;
    padding: 1rem;
}

.project, .class {
    aspect-ratio: 1/.618;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    background-color: #ffabbd;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.project:hover, .class:hover {
    background-color: #ff738d;
}

.class {
    font-size: 24px;
}

@media screen and (min-width: 1200px) { /* Adjust breakpoint as needed */
    .classes-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Switch to 3 columns (300px min width) */
    }
}

.back-button-container {
    display: flex;
    justify-content: left;  
    margin-bottom: 30px;  
}

.back-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    background: linear-gradient(to right, #ff91a9 0%, #ff91a9 50%, #ff5e62 100%);
}

.back-button:hover {
    background: linear-gradient(to right, #ff5e62 0%, #ff91a9 50%, #ff91a9 100%);
    color: white;
}

body.dark-mode .back-button {
    background: linear-gradient(to right, #414345 0%, #232526 100%);
}

body.dark-mode .back-button:hover {
    background: linear-gradient(to right, #232526 0%, #414345 100%);
    color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

/* Header styles */
header {
    display: flex;
    /* justify-content: space-between;
    align-items: center;
    padding: 1rem; */
    align-items: center;
    justify-content: flex-start;
    padding: 15px 30px;
    background-color: #ff91a9;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    max-width: 100px;
    height: auto;
    margin-right: 1rem;
}

.header-text {
    color: #fff;
    text-align: left;
    margin-left: 20px;
}

.header-text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.header-text p {
    font-size: 1rem;
}

.header-image {
    text-align: center;
    margin-bottom: 2rem;
}

.header-image img {
    max-width: 100%;
    height: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block {
    margin: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.info-block i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #ff91a9;
}

.info-block a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #ff91a9;
}

.info-block a:hover {
    text-decoration: underline;
    color: #fb6183;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-end; */
    /* padding: 1rem; */
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: flex-end; /* Align the icons to the right */
    width: 100%; /* Add width to occupy the full width of the footer */
}


.footer-icons a {
    color: #ff69b4;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.footer-icons a:hover {
    color: #ff8dc3;
}

.homepage-image-container {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.homepage-image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-page-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 80px);
    padding-top: 190px;
}

.homepage-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.homepage-image-container {
    position: relative;
    width: calc(50% - 10px);
}

.homepage-image-container.left {
    margin-right: 10px;
}

.homepage-image-container.right {
    margin-left: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
    /* Adjust the size of the logo by changing the max-width value */
    max-width: 200px;
}

/* about page */
.about-container {
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h1, h2, h3 {
    color: #ff91a9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.container {
    max-width: 1200px; /* adjust this value to set the maximum width of your content */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; /* add some padding to avoid content sticking to the edges */
    padding-right: 20px;
}

/* artworks->classes or projects page */
.artclasses-image-container{
    width: calc(33.33% - 20px); /* Adjust this value to fit 3 or 4 images per line */
    margin-bottom: 20px; /* Add some space below each image */
    padding: 10px; /* Add some space around each image */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.artclasses-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.artclasses-image-container p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px; /* Adjust font size as needed */
}