* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navigation bar styles */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff91a9;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
}

#navbar a:hover, #darkModeToggle:hover {
    color: #333;
}

#darkModeToggle {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#darkModeToggle:hover {
    background-color: #fff;
    color: #ff91a9;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode #navbar, body.dark-mode #header {
    background-color: #444;
}

body.dark-mode p {
    color: #ccc;
}

body.dark-mode .info-block i,
body.dark-mode .info-block a {
    color: #ccc;
}

body.dark-mode .footer-icons a {
    color: #ccc;
}

body.dark-mode .footer-icons a:hover {
    color: #ddd;
}

/* Home page styles */
.page {
    display: none;
}

#home {
    display: flex;
    height: 100vh;
}

.category {
    flex: 1;
    width: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.category:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    color: #fff;
    font-size: 2rem;
}

/* Artworks page styles */
.projects-grid, .classes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.project, .class {
    aspect-ratio: 1/.618;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    background-color: #ffabbd;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.project:hover, .class:hover {
    background-color: #ff738d;
}

.class {
    font-size: 24px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

/* Header styles */
header {
    display: flex;
    /* justify-content: space-between;
    align-items: center;
    padding: 1rem; */
    align-items: center;
    justify-content: flex-start;
    padding: 15px 30px;
    background-color: #ff91a9;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    max-width: 100px;
    height: auto;
    margin-right: 1rem;
}

.header-text {
    color: #fff;
    text-align: left;
    margin-left: 20px;
}

.header-text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.header-text p {
    font-size: 1rem;
}

.header-image {
    text-align: center;
    margin-bottom: 2rem;
}

.header-image img {
    max-width: 100%;
    height: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block {
    margin: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.info-block i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #ff91a9;
}

.info-block a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #ff91a9;
}

.info-block a:hover {
    text-decoration: underline;
    color: #fb6183;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-end; */
    /* padding: 1rem; */
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: flex-end; /* Align the icons to the right */
    width: 100%; /* Add width to occupy the full width of the footer */
}


.footer-icons a {
    color: #ff69b4;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.footer-icons a:hover {
    color: #ff8dc3;
}

.homepage-image-container {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.homepage-image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-page-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 80px);
    padding-top: 190px;
}

.homepage-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.homepage-image-container {
    position: relative;
    width: calc(50% - 10px);
}

.homepage-image-container.left {
    margin-right: 10px;
}

.homepage-image-container.right {
    margin-left: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
    /* Adjust the size of the logo by changing the max-width value */
    max-width: 200px;
}
